#fooditem {
  font-family: "Times New Roman", Times, serif;
  border-collapse: collapse;
  width: 50%;
}

#fooditem td, #fooditem th {
  border: 1px solid #7EB1D7;
  padding: 8px;
}

#fooditem tr:nth-child(even){background-color: #98DDDE;}

#fooditem tr:hover {background-color: #7EB1D7;}

#fooditem th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #89CFF0;
  color: black;
}
